.text-editor-div {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 33vw;
  min-width: 350px;
  border-color: rgb(21, 177, 169);
  border-width: 2px;
  border-radius: 15px;
  border-style: solid;
}

.text-editor {
  height: 30vh;
}

.text-editor-divider {
  width: 100%;
  border: solid 1px rgb(21, 177, 169);
}

.text-editor-title {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0px 2px 20px;
}

.ql-container {
  font-size: 18px;
  border: none !important;
}
